:root {
    --theme-unimportant: #767676;
    --theme-highlight: #2bf;
    --theme-text-rev: #fff;
    --theme-black: #111827;
    --theme-bar-color-0: #fe2;

    --theme-bar-color-h1: #3498db;
}